// @fontface {
//   font-family: "Glacial Indifference";
//   src: url('../media/fonts/GlacialIndifference-Regular.otf');
// }

$background: #efefef;
$pomodoro: #bd2640;
$buttons: #3f6cb2;
$settings: #a6a6a6;
$main-font: 'Glacial Indifference', sans-serif;

html {
  background-color: $background;
  box-sizing: border-box;
  font-size: 12px;
}

body {
  height: 100vh;
}

.container {
  position: relative;
  width: 100%;
}

.wrapper {
  align-items: center;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-around;
  margin: 1% 2%;
}

.title h1 {
  color: $pomodoro;
  font-family: $main-font;
  font-size: 6.67rem;
  font-weight: lighter;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.timer h2 {
  color: black;
  font-family: $main-font;
  font-size: 10rem;
}

.corner {
  display: none;
  position: absolute;
}
