@fontface {
  font-family: "Glacial Indifference";
  src: url('../media/fonts/GlacialIndifference-Regular.otf');
}

$background: #efefef;
$pomodoro: #bd2640;
$buttons: #3f6cb2;
$settings: #a6a6a6;
$main-font-family: 'Glacial Indifference', sans-serif;

@mixin main-font {
  font-family: $main-font-family;
  font-weight: lighter;
  letter-spacing: 0.1em;
}

html {
  background-color: $background;
  font-size: 12px;
}

.container {
  box-sizing: border-box;
  height: 100vh;
  padding: 2% 4%;
  position: relative;
  width: 100%;
}

.wrapper {
  align-items: center;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.title {
  @include main-font;
  color: $pomodoro;
  font-size: 6.67rem;
  text-transform: uppercase;
}

.timer {
  @include main-font;
  color: black;
  font-size: 10rem;
}

.buttons .play-btn {

  &[name='reset'] {
    background-image: url(../)
  }
}

.corner {
  display: none;
  position: absolute;
}
